################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataStructures/bin
/DataStructures/obj
/LinkedListDataStructure/bin
/LinkedListDataStructure/obj
